[Unit]
Description=Make AIRR encrypted snapshot daily

[Timer]
OnCalendar=*-*-* 04:10:00
RandomizedDelaySec=15min
Persistent=true
Unit=airr-intake-backup.service

[Install]
WantedBy=timers.target
